<% provide(:title, "Top") %>

  <div class="row">
    
    <div class="col-md-7 top-left">
      <h1 id="top-title">TaskApp</h1>
      <p>TaskAppは簡易ToDo管理ツールです。</p>
      <p>↓↓初めてのご利用↓↓</p>
      <botton class="btn btn-lg btn-success link-btn"><%= link_to "アカウント作成", signup_path %></botton>
      <% if !logged_in? %>
      <div>
      <botton class="btn btn-md btn-danger link-btn guest-btn"><%= link_to "ゲストログイン(管理者権限)", guest_admin_path %></botton>
      <botton class="btn btn-md btn-warning link-btn guest-btn"><%= link_to "ゲストログイン(一般権限)", guest_general_path %></botton>
      </div>
      <% end %>
    </div>
   
    <div class= "col-md-4 top-right">
       <h2>ログイン</h2>
       <% if !logged_in? %>
          <%= form_with(scope: :session, url: login_path, local: true) do |f| %>
          
            <%= f.label :email, "メールアドレス",class: "label-login" %>
            <%= f.email_field :email, class: 'form-control' %>
            
            <%= f.label :password, "パスワード", class: "label-login" %>
            <%= f.password_field :password, class: 'form-control' %>
            
             <%= f.submit "ログイン", class: "btn btn-primary btn-block btn-login" %>
          <% end %>
       <% else %>
          <%= form_with(scope: :session, url: login_path, local: true) do |f| %>
          
            <%= f.label :email, "メールアドレス",class: "label-login" %>
            <%= f.email_field :email, disabled: true, class: 'form-control' %>
            
            <%= f.label :password, "パスワード", class: "label-login" %>
            <%= f.password_field :password, disabled: true, class: 'form-control' %>
            
            <button class="col-md-4 btn btn-primary btn-form btn-block disabled" %>ログイン状態です</button>
          <% end %>
       <% end %>
    </div>
 </div>








