<% provide(:title, 'New Task') %>
<h1>new registration</h1>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_with(model: @task,url: user_tasks_path, local: true,) do |f| %>
       
         <%= f.label :title, class: "label-control" %>
         <%= f.text_field :title, class: "form-control" %>
         
         <%= f.label :note, class: "lebel-control" %>
         <%= f.text_field :note, class: "form-control" %>
         
         <%= f.submit "New registration", class: "btn btn-primary btn-block btn-signup" %>
    <% end %>
  </div>
</div>