<% provide(:title, @user.name) %>
<h1>task詳細</h1>

<div class="row">
    <div class="col-md-10 col-md-offset-1">
      <table class="table table-bordered">
        <tr>
          <th class="active col-md-2">ID</th>
          <td><%= @task.id %></td>
        </tr>
        <tr>
          <th class="active col-md-2">title</th>
          <td><%= @task.title %></td>
        </tr>  
        <tr>
          <th class="active col-md-2">note</th>
          <td><%= @task.note %></td>
        </tr>  
        <tr>
          <th class="active col-md-2">created_at</th>
          <td><%= @task.created_at %></td>
        </tr>  
        <tr>
          <th class="active col-md-2">updated_at</th>
          <td><%= @task.updated_at %></td>
        </tr> 
      </table>
      <botton class="btn btn-success link-btn"><%= link_to "edit", edit_user_task_path(@user, @task) %></botton>
      <botton class="btn btn-danger link-btn"><%= link_to "delete", "#" %></botton>
  </div>