<% provide(:title, "Users") %>
<h1>利用者一覧</h1>
<div class="row">
  <div class="col-md-10 col-md-offset-1">
  <%= will_paginate %>
  <table class="table" id="table-layout">
    <thead>
      <tr>
        <th><%= User.human_attribute_name(:name) %></th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <% @users.each do | user | %>
      <tr>
        <td><%= link_to user.name, user_path(user.id), class: "text-primary" %>
            <% if user.admin? %>
            <span class="label label-primary">管理者</span>
            <% else %>
            <span class="label label-success">一般</span>
            <% end %>
        </td>
        <td><botton class="btn btn-sm btn-danger link-btn" id="destroy"><%= link_to "削除", user_path(user.id), method: :delete, data: { confirm: "#{user.name}を削除します。よろしいですか？"} %></botton></td>
      </tr>
      <% end %>
    </tbody>
  </table>
  <%= will_paginate %>
</div>
</div>